doctrine:
    dbal:
      default_connection: default
      connections:
          default:
              # configure these for your database server
              url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: true
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                mappings:
                    Product:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/src/Domain/Product/Entity'
                        prefix: 'App\Domain\Product\Entity'
                        alias: Product

